* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.page {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.card {
  background: white;
  width: 100%;
  max-width: 420px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  margin-bottom: 8px;
}

.subtitle {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.upload {
  display: block;
  border: 2px dashed #2196f3;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  color: #2196f3;
  margin-bottom: 10px;
}

.upload input {
  display: none;
}

.filename {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.score-section {
  text-align: center;
  margin: 20px 0;
}

.bar {
  width: 100%;
  height: 12px;
  background: #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.fill {
  width: 75%;
  height: 100%;
  background: #4caf50;
}

.score {
  font-weight: bold;
  color: #2e7d32;
  margin-top: 6px;
}

ul {
  padding-left: 20px;
  font-size: 14px;
}

ul li {
  margin-bottom: 8px;
}

.note {
  font-size: 12px;
  color: #777;
  text-align: center;
  margin-top: 15px;
}

/* loading animation P.R*/

.loader-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #2196f3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
